In [24]:
from elasticsearch import helpers, Elasticsearch
import elasticsearch

In [25]:
es = Elasticsearch('http://localhost:9200', max_retries=10, retry_on_timeout=True)

In [26]:
df = spark.read.csv('DNPBA2017.csv', header=True)
df.limit(2).toPandas()

,ID,NUMERODN,CODINST,ORIGEM,NUMERODV,PREFIXODN,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,...,TPFUNCRESP,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,STDNEPIDEM,STDNNOVA,CODPAISRES,TPROBSON,PARIDADE,KOTELCHUCK
0,1,72390242,ETO1721000001,1,0,30,2786095,170700,1,25,...,2,3,24012017,01,0,1,NA,03,1,3
1,2,72396320,ETO1721000001,1,9,30,NA,291110,3,20,...,2,3,10042017,02,0,1,NA,03,1,2

### indexing

In [27]:
es_index_name = "matb10-sinasc"
df.write.format("org.elasticsearch.spark.sql").option("es.resource", es_index_name).mode('overwrite').save()

### buscando inexata termo

In [40]:
content = { "bool": 
           { "should": [ {"term": {"CODMUNNASC":"291170"}} ] 
           } 
          }

In [41]:
res = es.search(index=es_index_name, query=content, size=2)

In [ ]:
res['hits']['hits']

<hr />

### buscando exata termo

In [43]:
content = { "bool": 
           { "must": [ 
               {"match": {"CODESTAB": "2786095"}},
               {"term": {"CODMUNNASC":"170700"}}] 
           } 
          }

In [44]:
res = es.search(index=es_index_name, query=content, size=2)

In [ ]:
res['hits']['hits']

### buscando um intervalo

In [48]:
df.select("IDADEMAE").groupBy("IDADEMAE").count().orderBy("IDADEMAE").show(30)

+--------+-----+
|IDADEMAE|count|
+--------+-----+
|      11|    9|
|      12|   53|
|      13|  393|
|      14| 1692|
|      15| 3701|
|      16| 5926|
|      17| 8165|
|      18| 8931|
|      19| 9907|
|      20| 9910|
|      21|10346|
|      22|10421|
|      23|10165|
|      24| 9721|
|      25| 9588|
|      26| 9106|
|      27| 9007|
|      28| 9227|
|      29| 9194|
|      30| 9309|
|      31| 8834|
|      32| 7988|
|      33| 7078|
|      34| 7056|
|      35| 6323|
|      36| 5389|
|      37| 4345|
|      38| 3495|
|      39| 2697|
|      40| 2004|
+--------+-----+
only showing top 30 rows

In [49]:
content = {"range": {
            "IDADEMAE": {
                "gte": 20,
                "lt": 30
            }
        }
    }

In [60]:
res = es.search(index=es_index_name, query=content, size=2)

In [ ]:
res['hits']['hits']

### busca lógica

In [14]:
content = {
    "bool": {
            "must": [
                {
                    "term": {
                        "IDADEMAE": 21
                    }
                },
                {
                    "term": {
                        "ESCMAEAGR1": "06"
                    }
                }
            ]
        }
    }

In [15]:
res = es.search(index=es_index_name, query=content, size=2)

In [16]:
res

ObjectApiResponse({'took': 12, 'timed_out': False, '_shards': {'total': 1, 'successful': 1, 'skipped': 0, 'failed': 0}, 'hits': {'total': {'value': 2217, 'relation': 'eq'}, 'max_score': 4.693493, 'hits': [{'_index': 'matb10-sinasc', '_id': 'i60DtYABiDU2XKZNEfpE', '_score': 4.693493, '_source': {'ID': '3649', 'NUMERODN': '74218948', 'CODINST': 'MBA2900700001', 'ORIGEM': '1', 'NUMERODV': '3', 'PREFIXODN': '30', 'CODESTAB': '2487411', 'CODMUNNASC': '290070', 'LOCNASC': '1', 'IDADEMAE': '21', 'ESTCIVMAE': '1', 'ESCMAE': '4', 'CODOCUPMAE': '999992', 'QTDFILVIVO': '01', 'QTDFILMORT': '00', 'CODMUNRES': '290070', 'GESTACAO': '5', 'GRAVIDEZ': '1', 'PARTO': '1', 'CONSULTAS': '3', 'DTNASC': '31052017', 'HORANASC': '1618', 'SEXO': '2', 'APGAR1': '09', 'APGAR5': '10', 'RACACOR': 'NA', 'PESO': '3730', 'IDANOMAL': '2', 'DTCADASTRO': '04072017', 'CODANOMAL': 'NA', 'NUMEROLOTE': '20170017', 'VERSAOSIST': '3.2.00', 'DTRECEBIM': '13072017', 'DIFDATA': '043', 'DTRECORIGA': 'NA', 'NATURALMAE': '829', 'CODMUNNATU': '290070', 'CODUFNATU': '29', 'ESCMAE2010': '3', 'SERIESCMAE': '3', 'DTNASCMAE': '07061995', 'RACACORMAE': 'NA', 'QTDGESTANT': '01', 'QTDPARTNOR': '01', 'QTDPARTCES': '00', 'IDADEPAI': 'NA', 'DTULTMENST': '20082016', 'SEMAGESTAC': '40', 'TPMETESTIM': '8', 'CONSPRENAT': '06', 'MESPRENAT': '99', 'TPAPRESENT': '1', 'STTRABPART': '2', 'STCESPARTO': '3', 'TPNASCASSI': '1', 'TPFUNCRESP': '2', 'TPDOCRESP': '3', 'DTDECLARAC': '31052017', 'ESCMAEAGR1': '06', 'STDNEPIDEM': '0', 'STDNNOVA': '1', 'CODPAISRES': 'NA', 'TPROBSON': '03', 'PARIDADE': '1', 'KOTELCHUCK': '9'}}, {'_index': 'matb10-sinasc', '_id': 'jq0DtYABiDU2XKZNEfpE', '_score': 4.693493, '_source': {'ID': '3652', 'NUMERODN': '74218951', 'CODINST': 'MBA2900700001', 'ORIGEM': '1', 'NUMERODV': '3', 'PREFIXODN': '30', 'CODESTAB': '2487411', 'CODMUNNASC': '290070', 'LOCNASC': '1', 'IDADEMAE': '21', 'ESTCIVMAE': '1', 'ESCMAE': '4', 'CODOCUPMAE': '521110', 'QTDFILVIVO': '00', 'QTDFILMORT': '00', 'CODMUNRES': '291060', 'GESTACAO': '6', 'GRAVIDEZ': '1', 'PARTO': '1', 'CONSULTAS': '4', 'DTNASC': '31052017', 'HORANASC': '2018', 'SEXO': '2', 'APGAR1': '09', 'APGAR5': '10', 'RACACOR': 'NA', 'PESO': '2465', 'IDANOMAL': '2', 'DTCADASTRO': '04072017', 'CODANOMAL': 'NA', 'NUMEROLOTE': '20170017', 'VERSAOSIST': '3.2.00', 'DTRECEBIM': '13072017', 'DIFDATA': '043', 'DTRECORIGA': 'NA', 'NATURALMAE': '829', 'CODMUNNATU': '291550', 'CODUFNATU': '29', 'ESCMAE2010': '3', 'SERIESCMAE': '3', 'DTNASCMAE': '14111995', 'RACACORMAE': 'NA', 'QTDGESTANT': '00', 'QTDPARTNOR': '00', 'QTDPARTCES': '00', 'IDADEPAI': 'NA', 'DTULTMENST': '10082016', 'SEMAGESTAC': '42', 'TPMETESTIM': '8', 'CONSPRENAT': '07', 'MESPRENAT': '03', 'TPAPRESENT': '1', 'STTRABPART': '2', 'STCESPARTO': '3', 'TPNASCASSI': '1', 'TPFUNCRESP': '2', 'TPDOCRESP': '3', 'DTDECLARAC': '31052017', 'ESCMAEAGR1': '06', 'STDNEPIDEM': '0', 'STDNNOVA': '1', 'CODPAISRES': 'NA', 'TPROBSON': '01', 'PARIDADE': '0', 'KOTELCHUCK': '5'}}]}})

### searching methods

In [62]:
def buscaExata(numerodn, codestab, idademae, escmaeagr1, startId=0): 
    
    global es
    
    content = {
        'bool': {
                'must': [
                    {'match_phrase': {'NUMERODN': '"' + numerodn + '"'}},
                    {'match_phrase': {'CODESTAB': '"' + codestab + '"'}}, 
                    {'match': {'IDADEMAE': idademae}},
                    {'match': {'ESCMAEAGR1': escmaeagr1}}
                ]
            }
        }
    force = True
    while force:
        try:
            res = es.search(index=es_index_name, query=content, size=2)
            force = False
        except:
            pass
    return res['hits']['hits']

In [71]:
def buscaAproximada(numerodn, codestab, idademae, escmaeagr1, startId=0):
    
    global es
    
    content = {
        'bool': {
                'should': [
                    {'match': {'NUMERODN': {'query': numerodn, 'fuzziness':'AUTO', 'operator':'or', 'boost':'2'}}},
                    {'match': {'CODESTAB': {'query': codestab, 'fuzziness':'AUTO', 'operator':'or', 'boost':'2'}}},
                    {'match': {'IDADEMAE': {'query': idademae, 'fuzziness':'AUTO', 'operator':'or', 'boost':'0.5'}}},
                    {'match': {'ESCMAEAGR1': {'query': escmaeagr1, 'fuzziness':'AUTO', 'operator':'or'}}}
                ]
            }
        }
    force = True
    while force:
        try:
            res = es.search(index=es_index_name, query=content, size=15)
            force = False
        except:
            pass
    return res['hits']['hits']

In [ ]:
buscaExata("72390242", "2786095", "25", "01")#[0]['_source']['NUMERODN']

In [73]:
# um campo modificado (note que o retorno é vazio)
buscaExata("72390242", "2786095", "33", "01")

[]

In [76]:
buscaAproximada("72390242", "2786095", "25", "01")[4]['_source']['NUMERODN']

'72383677'

In [ ]:
# # um campo modificado (mais de um candidato é retornado)
buscaAproximada("72390242", "2786095", "33", "01")

In [23]:
print(len(buscaAproximada("72390242", "2786095", "33", "01")))

2