# Testando Spark

In [1]:
import pyspark
# import pandas as pd

In [2]:
# SparkContext.stop(sc)

In [3]:
# from pyspark.context import SparkContext
# from pyspark.sql.session import SparkSession

# sc = pyspark.SparkContext(master = "spark://node1:7077",
#                         appName='testando Spark')

# spark = SparkSession(sc)

In [4]:
# pd_df = pd.read_csv('/home/bigdata/repos/fundamentos-big-data/codes/DNPBA2017.csv')

In [5]:
# pd_df

In [6]:
# df = spark.createDataFrame(pd_df)

In [7]:
df = spark.read.csv('/home/bigdata/repos/fundamentos-big-data/codes/DNPBA2017.csv',
                   header=True)

In [8]:
df = df.select(['NUMERODN', 'CODMUNNASC', 'DTNASC', 'SEXO', 'RACACOR', 'PESO', 'RACACORMAE'])

In [9]:
df.printSchema()

root
 |-- NUMERODN: string (nullable = true)
 |-- CODMUNNASC: string (nullable = true)
 |-- DTNASC: string (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- RACACOR: string (nullable = true)
 |-- PESO: string (nullable = true)
 |-- RACACORMAE: string (nullable = true)

In [10]:
df.show(3)

+--------+----------+--------+----+-------+----+----------+
|NUMERODN|CODMUNNASC|  DTNASC|SEXO|RACACOR|PESO|RACACORMAE|
+--------+----------+--------+----+-------+----+----------+
|72390242|    170700|24012017|   1|      4|3150|         4|
|72396320|    291110|27032017|   1|     NA|  NA|        NA|
|72374657|    171890|29052017|   1|      4|3300|         4|
+--------+----------+--------+----+-------+----+----------+
only showing top 3 rows

In [11]:
df.count()

203715

In [12]:
for column in df.columns:
    df.groupBy(column).count().show()

+--------+-----+
|NUMERODN|count|
+--------+-----+
|72064662|    1|
|72064693|    1|
|72064833|    1|
|74188853|    1|
|72165701|    1|
|69257965|    1|
|72160627|    1|
|72201932|    1|
|70502075|    1|
|72268568|    1|
|72269423|    1|
|74218344|    1|
|74218943|    1|
|74219263|    1|
|56707971|    1|
|56708417|    1|
|72206744|    1|
|72267969|    1|
|74216935|    1|
|74217750|    1|
+--------+-----+
only showing top 20 rows

+----------+-----+
|CODMUNNASC|count|
+----------+-----+
|    291733|   68|
|    310730|    1|
|    220290|   11|
|    320350|    2|
|    291240|   87|
|    292290|  119|
|    291920|  988|
|    291992|  223|
|    292200|  591|
|    292360|  860|
|    510760|    2|
|    293260|   84|
|    411520|    3|
|    290640|    4|
|    290910|  144|
|    292960|  115|
|    292937|    1|
|    292370|  313|
|    290160| 1876|
|    290685|    3|
+----------+-----+
only showing top 20 rows

+--------+-----+
|  DTNASC|count|
+--------+-----+
|18052017|  650|
|01102017|  477|
|29112017|  557|
|20082017|  412|
|08042017|  562|
|26052017|  608|
|19082017|  489|
|08052017|  641|
|09062017|  596|
|28122017|  588|
|05092017|  550|
|10102017|  589|
|26072017|  611|
|19022017|  442|
|11052017|  647|
|01092017|  581|
|12012017|  533|
|22062017|  628|
|03072017|  629|
|09092017|  457|
+--------+-----+
only showing top 20 rows

+----+------+
|SEXO| count|
+----+------+
|   0|    52|
|   1|104379|
|   2| 99284|
+----+------+

+-------+------+
|RACACOR| count|
+-------+------+
|      3|   779|
|     NA| 14384|
|      5|   791|
|      1| 15007|
|      4|148549|
|      2| 24205|
+-------+------+

+----+-----+
|PESO|count|
+----+-----+
|3210|  745|
|4032|   12|
|3414|   38|
|2136|    8|
|3606|   35|
|2904|   49|
|2294|    6|
|1512|    4|
|1436|    1|
|2162|    8|
|0965|    9|
|1090|   15|
|0955|    8|
|4937|    1|
|1572|    3|
|2088|    3|
|0786|    1|
|3650| 1302|
|3015|  409|
|2275|   49|
+----+-----+
only showing top 20 rows

+----------+------+
|RACACORMAE| count|
+----------+------+
|         3|   768|
|        NA| 16014|
|         5|   772|
|         1| 14812|
|         4|147218|
|         2| 24131|
+----------+------+

In [14]:
df.groupBy('SEXO').count().show()

+----+------+
|SEXO| count|
+----+------+
|   0|    52|
|   1|104379|
|   2| 99284|
+----+------+

# Exemplo com HDFS

In [15]:
df_ = spark.read.csv('hdfs://node1:9000/raw/DNPBA2017.csv', header=True)

In [16]:
for column in df.columns:
    df_.groupBy(column).count().show()

+--------+-----+
|NUMERODN|count|
+--------+-----+
|59768736|    1|
|70448255|    1|
|74224406|    1|
|72266580|    1|
|72243052|    1|
|72234250|    1|
|70494474|    1|
|70494606|    1|
|70494609|    1|
|70494780|    1|
|72246333|    1|
|74219682|    1|
|74219931|    1|
|74224322|    1|
|72262038|    1|
|72263330|    1|
|70448434|    1|
|56769184|    1|
|72260490|    1|
|72242929|    1|
+--------+-----+
only showing top 20 rows

+----------+-----+
|CODMUNNASC|count|
+----------+-----+
|    291733|   68|
|    310730|    1|
|    220290|   11|
|    320350|    2|
|    291240|   87|
|    292290|  119|
|    291920|  988|
|    291992|  223|
|    292200|  591|
|    292360|  860|
|    510760|    2|
|    293260|   84|
|    411520|    3|
|    290640|    4|
|    290910|  144|
|    292960|  115|
|    290160| 1876|
|    290685|    3|
|    292937|    1|
|    292370|  313|
+----------+-----+
only showing top 20 rows

+--------+-----+
|  DTNASC|count|
+--------+-----+
|18052017|  650|
|01102017|  477|
|29112017|  557|
|20082017|  412|
|26052017|  608|
|08042017|  562|
|19082017|  489|
|08052017|  641|
|09062017|  596|
|05092017|  550|
|28122017|  588|
|10102017|  589|
|26072017|  611|
|19022017|  442|
|11052017|  647|
|01092017|  581|
|12012017|  533|
|22062017|  628|
|03072017|  629|
|09092017|  457|
+--------+-----+
only showing top 20 rows

+----+------+
|SEXO| count|
+----+------+
|   0|    52|
|   1|104379|
|   2| 99284|
+----+------+

+-------+------+
|RACACOR| count|
+-------+------+
|      3|   779|
|     NA| 14384|
|      5|   791|
|      1| 15007|
|      4|148549|
|      2| 24205|
+-------+------+

+----+-----+
|PESO|count|
+----+-----+
|3210|  745|
|3414|   38|
|2162|    8|
|2088|    3|
|2904|   49|
|0965|    9|
|4032|   12|
|2136|    8|
|3606|   35|
|1090|   15|
|2294|    6|
|0955|    8|
|1512|    4|
|0786|    1|
|1572|    3|
|4937|    1|
|1436|    1|
|3650| 1302|
|3015|  409|
|2110|   58|
+----+-----+
only showing top 20 rows

+----------+------+
|RACACORMAE| count|
+----------+------+
|         3|   768|
|        NA| 16014|
|         5|   772|
|         1| 14812|
|         4|147218|
|         2| 24131|
+----------+------+

# Testando ElasticSearch

In [17]:
# !pip install elasticsearch
# !pip install espandas
# !pip install progressbar2
# !pip install es_pandas

In [18]:
import numpy as np
import pandas as pd

from elasticsearch import Elasticsearch
from elasticsearch import helpers
es = Elasticsearch(http_compress=True)

from datetime import datetime

from es_pandas import es_pandas

# adapted from: https://pypi.org/project/es-pandas/

In [19]:
df_pd = pd.read_csv('/home/bigdata/repos/fundamentos-big-data/codes/DNPBA2017.csv')
df_pd = df_pd[["NUMERODN", "CODMUNNASC", "IDADEMAE", "ESCMAEAGR1"]]

In [20]:
df_pd

        NUMERODN  CODMUNNASC  IDADEMAE  ESCMAEAGR1
0       72390242      170700        25         1.0
1       72396320      291110        20         2.0
2       72374657      171890        20         4.0
3       72376065      172100        28         6.0
4       72392109      172100        34        12.0
...          ...         ...       ...         ...
203710  77142079      530010        30         8.0
203711  74266407      293180        32         2.0
203712  74266408      293180        23        11.0
203713  74266409      293180        41        11.0
203714  61624646      290380        20         5.0

[203715 rows x 4 columns]

In [21]:
df_pd.dropna(inplace=True)
df_pd.columns= df_pd.columns.str.lower()

In [22]:
# Information of es cluseter
es_host = 'localhost:9200'
index = 'dnpba_2017'

In [23]:
# create es_pandas instance
ep = es_pandas(es_host)
es = Elasticsearch()

In [24]:
# init template if you want
doc_type = 'nascidosvisvos'
ep.init_es_tmpl(df_pd, doc_type)

In [25]:
# set use_index=True if you want to use DataFrame index as records' _id
ep.to_es(df_pd, index, doc_type=doc_type, use_index=True, thread_count=2, chunk_size=10000)

 99% (198793 of 199618) |############### | Elapsed Time: 0:00:06 ETA:   0:00:00

199618

In [26]:
# curl -X DELETE "localhost:9200/twitter?pretty"
# para deletar index ex.: twitter

In [27]:
!curl 'localhost:9200/_cat/indices/'

yellow open dnpba_2017         zsL5FVrmS7C4lzRi4J-Ong 1 1 170000 0  7.1mb  7.1mb
yellow open dnpba_2017_airflow 0FkidBJDQhiguRemvs2TMw 1 1 203715 0 13.7mb 13.7mb

##  consultando no elasticsearch

In [28]:
from pyspark.sql import SparkSession, Row

In [29]:
content = {
    "query": {
        "term": {
            "numerodn": "72392109"
         }
     },
}

In [30]:
res = es.search(index="dnpba_2017", body=content)

In [31]:
res['hits']['hits']

[{'_index': 'dnpba_2017',
  '_type': '_doc',
  '_id': '4',
  '_score': 1.0,
  '_source': {'numerodn': 72392109,
   'codmunnasc': 172100,
   'idademae': 34,
   'escmaeagr1': 12.0}}]

# Testando resultado do AirFlow

In [32]:
result_es = spark.read.parquet('hdfs://node1:9000/datasets/results-DNPBA2017-query-airflow')

In [33]:
result_es.show()

+--------+----------+--------+----+-------+----+----------+
|numerodn|codmunnasc|  dtnasc|sexo|racacor|peso|racacormae|
+--------+----------+--------+----+-------+----+----------+
|72392109|    172100|23012017|   2|      4|3610|         4|
+--------+----------+--------+----+-------+----+----------+